@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.border-dashed-lines {
  position: relative;
  border: none;
}
.border-dashed-lines::before,
.border-dashed-lines::after {
  content: '';
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed gray;
  border-radius: 0.5rem;
  pointer-events: none;
}
