@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.bg-gradient-header {
  background: linear-gradient(90.03deg, rgba(255, 255, 255, 0.1) 0.01%, rgba(255, 255, 255, 0) 158.84%);
}

.bg-gradient-conic {
  background: conic-gradient(from 182.55deg at 50% 50%, #d7fc6e 0deg, #7905ed 145.8deg, #d7fc6e 360deg);
}

.bg-gradient-page {
  background: black; /* Fondo negro */
  background: radial-gradient(at top left, #7905ed 2%, transparent 20%),
    radial-gradient(at bottom right, #d7fc6e 2%, transparent 40%),
    radial-gradient(at right, #7905ed 2%, transparent 20%);
  background-blend-mode: screen;
  height: 100vh; /* Ajusta la altura del fondo */
  margin: 0;
}

.border-dashed-lines {
  position: relative;
  border: none;
}
.border-dashed-lines::before,
.border-dashed-lines::after {
  content: "";
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed gray;
  border-radius: 0.5rem;
  pointer-events: none;
}

.underline-word {
  position: relative;
}

.underline-word::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 150%;
  height: 2px;
  background-color: #b773fb;
}
